/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{ 
     width:100%;
     height:100%;
     background: white;
     overflow-x: hidden;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     overflow-x: hidden;
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
     overflow-x:hidden;
   }
   
   
   
   
   /* ---- stats.js ---- */
   
   .count-particles{
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles{
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats{
     border-radius: 3px 3px 0 0;
     overflow-x: hidden;
   }
   
   .count-particles{
     border-radius: 0 0 3px 3px;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     min-height: 600px !important;
     width: 100%;
     height: 100%;
     background-color: #ffffff;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     transform: translate(0px, -260px);
   }

   @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
   .body
   {
       margin: 0;
       padding: 0;
       height: 100vh;
       background-color: white;
       overflow-x: hidden;
   }
   .profile
   {
   width: 100%;
   height: auto;
   position: relative;
   bottom: -50%;
   height: 260px;
   background: rgba(0, 0, 0, 0.801);
   box-shadow: 0 0 35px rgba(33,33,33,1); 
   }
   .particles-js{
       height: 100%;
       bottom: 100%;
   
   }
   .caption text-center{
       height: 100%;
   }
   
   .headshot
   {
     display: block;
   margin-left: auto;
   margin-right: auto;
       position:relative;
       height: auto; 
       width: auto; 
       max-width: 300px; 
       max-height: 300px;
       bottom: 5px;
       left:auto;
       -webkit-filter: drop-shadow(10px 10px 10px #222);
       filter: drop-shadow(10px 10px 10px #222);
   }
   
   .name
   {
     position: relative;
     bottom: 130px;
     width: 100%;
   }
   .typing
   {
     word-spacing: -20px;
     text-align: center;
     left:15px;
     letter-spacing: 2px;
     position: relative;
     color: white;
     bottom: 90px;
     font-size: 50px;
     font-family: "Courier New", Courier, monospace;
   }
   
   .position {
     text-align: center;
       position: relative;
       bottom:110px;
       font-size: 20px;
       color: white;
   }
   
   .resume-icon{
     display: table-cell !important;
     margin-left: auto;
     margin-right: auto;
       position: relative;
       bottom:100px;
       max-width: 50px; 
       max-height: 50px;
       color: white;
       left: 65px;
   }
   .github-icon
   {
       position: relative;
       display: table-cell !important;
       margin-left: auto;
       margin-right: auto;
       bottom:150px;
       max-width: 50px; 
       max-height: 50px;
       color: white;
       right: 65px;
   }
   .linkedin-icon
   {
     position: relative;
     display: table-cell !important;
     margin-left: auto;
     margin-right: auto;
     left: 5px;
     bottom:200px;
     max-width: 50px; 
     max-height: 50px;
     color: white;
   }
   .card {
     border: 1px solid #d3d3d3;
     border-radius: 30px !important;
   }
   
   .bg-img {
     background-size:cover;
     min-height: 180px;
     background-position: center;
     background-color: #ccc;
   }
   
   .content {
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 30px;
   }
   .row{
     height: 100%;
   }
   .button {
     background-color: transparent;
     border: 1px solid #2196F3;
     padding: .5rem 1rem;
     cursor: pointer;
     border-radius: 0.25rem;
   }
   .grid-container {
     position: static !important;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-gap: 50px;
     background-color: whitesmoke;
   }
   .projects{
     height: 100%;
     background-color: whitesmoke;
     opacity: 0;
     transform: translateY(50px);
     transition: all 1s ease-out;
   }
   .projects.fade-in{
     opacity: 1;
     transform: translateY(0);
   }
   .projects-title{
     text-align: center;
     padding-top:10px;
     padding-bottom: 10px;
   }
   .test{
     background-size: cover;
     min-height: 180px;
     background-position: center;
     background-color: #ccc;
     width: 100% !important;
     height: auto !important;
     display: block !important;
     border-radius: 30px !important;
   }
   
   .test1
   {
     background-size: cover;
     min-height: 180px;
     background-position: center;
     background-color: #ccc;
     width: 100%;
     height: auto; 
     display: block; 
     border-radius: 30px;
   }
   body {
     overflow-x: hidden;
   }
  
   
   .column {
     position: relative;
     height: 100%;
     float: left;
     width: 50%;
     background-color: white;
   }
   .row{
     min-height: 1200px;
     height: 100%;
     background-color: white;
   }
   .about-me-img{
     right: -10%;
     max-width: 700px;
     max-height: 700px;
     width: 100%;
     height: auto;
     position: relative;
     bottom: -5%;
     transform: translate(0px, 150px);
     border:10px solid #a0d3f581;
     border-radius: 500px;
     -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
   }
   .about-me-title{
     color: grey;
     font-family: "Calibri Light", sans-serif;
     letter-spacing: 3px;
     text-align: center;
     top: 150px;
     font-size: 50px;
   }
   .about-me-sec{
     position: relative;
     width: 600px;
     left: 20%;
     top: 20%;
     height: 550px;
   }
   .about-me-text{
     position: relative;
     font-size: 30px;
     text-align: center;
     width: 400px !important;
     word-wrap: break-word;
   }
   
   @media only screen and (max-width: 1450px) {
    .row{
      overflow-x: scroll !important;
      position: relative;
      min-height: 1000px;
      height: 120%;
      background-color: white;
    }
    /* For mobile phones: */
    .about-me-img{
     right: -50%;
     max-width: 400px;
     max-height:400px;
     width: 100%;
     height: auto;
     position: relative;
     bottom: 9%;
     transform: translate(-200px, 150px);
     border:10px solid #a0d3f581;
     border-radius: 500px;
     -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
   }
    .about-me-title{
      color: grey;
      font-family: "Calibri Light", sans-serif;
      letter-spacing: 3px;
      text-align: center;
      top: 150px;
      font-size: 50px;
    }
    .about-me-sec{
      position: absolute;
      max-width: 500px;
      width: 70%;
      left: 50%;
      top: 28%;
      height: 550px;
      transform: translate(-220px, 160px);
    }
    .about-me-text{
      font-size: 30px;
      text-align: center;
      width: 300px !important;
      word-wrap: break-word;
    }
  
  }
   
   
   /*============ BOOTSTRAP BREAK POINTS:
   Extra small (xs) devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
   Small (sm) devices (landscape phones, 576px and up)
   @media (min-width: 576px) { ... }
   Medium (md) devices (tablets, 768px and up)
   @media (min-width: 768px) { ... }
   Large (lg) devices (desktops, 992px and up)
   @media (min-width: 992px) { ... }
   Extra (xl) large devices (large desktops, 1200px and up)
   @media (min-width: 1200px) { ... }
   =============*/